@page "/VehiculoView"

<!--<PageTitle>Weather forecast</PageTitle>  ASI ESTABA-->
<PageTitle>Vehiculos</PageTitle>

@using Vehiculo20201061.Data.Models

<h1>Vehiculos</h1>
<h5>Rentamos y compramos vehiculos usados</h5>
<section class="form-register">
        <h4>Datos Para El Registro Del Vehiculo </h4>
        <input class="form-control" type="text" nombre="Vehiculo" id="Vehiculo"placeholder="Ingrese el vehiculo">
        <input class="form-control" type="text" nombre="Marca" id="Marca"placeholder="Ingrese la marca">
        <input class="form-control" type="text" nombre="Modelo" id="Modelo"placeholder="Ingrese el modelo">
        <input class="form-control" type="text" nombre="A単o" id="A単o"placeholder="Ingrese el a単o">
        <input class="form-control" type="text" nombre="Color" id="Color"placeholder="Ingrese el color">
        
<a href=""><input  class="botons"  type="submit" value="Guardar"></a>
<a href="index.html"><input  class="botons"  type="submit" value="Guardar Modificacion"></a>
   

</section>
<p>Rentamos y compramos vehiculos usados</p>
@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Vehiculos</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>A単o</th>
                <th>Color</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                </tr>
           
        </tbody>
    </table>
}

@code {
    private Vehiculo Vehiculo = new Vehiculo();

    protected override async Task OnInitializedAsync()
    {
        
    }
}
